@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Lato:wght@300&family=Montserrat:wght@500&display=swap');
:root {
    --color-1: rgb(21, 92, 210);
    --color-2: rgba(21, 92, 210, 0.3);
}

html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    height: 100vh;
    min-height: -webkit-fill-available;
    line-height: 1.5;
    background-color: #545457;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232035d4' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    color: white;
}

#container {
    min-height: 100%;
    position: relative;
    margin: 0 auto -50px;
}

ul {
    list-style: none;
}

.header {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
    /* align vertically in the middle */
}

.justify-content-around {
    justify-content: space-around;
}

.image-keep-ratio {
    object-fit: cover;
}


/* header */

.logo-user {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.username {
    margin-left: 130px;
}

.header {
    background-color: var(--color-1);
    padding: 0;
    position: relative;
}

.header-container {
    /* Keep navbar items focus in the middle */
    max-width: 1100px;
    margin: 0 auto;
    /* For tablet user */
    padding: 0 40px;
}

.header .nav ul li {
    display: inline-block;
    margin-left: 50px;
}

.header .nav ul li a {
    display: block;
    font-size: 16px;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    text-transform: capitalize;
    transition: transform 0.2s ease-in;
}

.header .nav ul li a:hover {
    color: #FFF;
    border-bottom: 2px solid rgb(255, 255, 255);
    transform: translateY(-3px);
}


/* nav toggler for mobile */

.header #nav-check {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.nav-toggler {
    height: 34px;
    width: 44px;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}


/* create 3 lines */

.nav-toggler span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    left: 0;
}

.nav-toggler span::before {
    top: -6px;
}

.nav-toggler span::after {
    top: 6px;
}


/* Error handling in user entry*/

.alert-success {
    position: relative;
    top: 50%;
    left: 33%;
    width: 400px;
    padding: 10px 0;
    margin: 10px;
    background-color: green;
    border-radius: 24px;
    color: white;
    text-align: center;
    outline: none;
}

.alert-danger {
    position: relative;
    top: 50%;
    left: 33%;
    width: 400px;
    padding: 10px 0;
    margin: 10px;
    background-color: red;
    border-radius: 26px;
    color: white;
    text-align: center;
    outline: none;
}


/* index page */

#content {
    background: #545457;
    background-image: url(
"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232035d4' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.gbaf-description {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-2);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 20px;
}

.gbaf-description h1 {
    text-align: center;
}

.h2-acteurs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin: 30px 50px;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 2px 2px 5px var(--color-1);
    word-spacing: 0.2rem;
}

.h2-acteurs:hover {
    transform: translateY(5px);
}

.gbaf-description ul {
    list-style: disc;
    padding-left: 20px;
}

.gbaf-description ul li {
    margin-left: 80px;
}

.gbaf-description p {
    font-family: 'Lato', sans-serif;
    margin: 10px 0;
    text-indent: 30px;
}

#middle-page {
    margin: 30px 30px 100px;
    flex-direction: row;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    margin: 30px 50px;
    background-color: #606060;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: 0.3s;
}

.card-image {
    position: relative;
    width: 400px;
    height: 130px;
}

.card img {
    border-radius: 5px;
    position: absolute;
    height: auto;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 2px 16px;
}

.card .card-link {
    border: 0;
    padding: 10px 30px;
    margin: 10px 20px 10px 0;
    float: right;
    background-color: transparent;
    border: 1px solid var(--color-1);
    text-decoration: none;
    border-radius: 24px;
    color: #FFF;
}

.card .card-link:hover {
    background-color: var(--color-2);
    color: #fff;
}

.card .card-link:focus {
    outline: none;
}


/* Single acteur page */

p {
    font-family: 'IBM Plex Serif', serif;
    padding: 10px 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    font-size: 2rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    font-size: 1.2rem;
}

h3 a {
    color: rgba(21, 92, 210, 0.9);
}

h3 a:active {
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 2px 2px 5px var(--color-1);
}

.vote_like,
.vote_dislike {
    border: none;
    cursor: pointer;
    background: transparent;
    margin: 0 0 0 10px;
    padding: 0;
    transition: color 0.3s;
    color: white;
}

.vote_like:hover,
.is-liked .vote_like {
    color: green;
}

.vote_dislike:hover,
.is-disliked .vote_dislike {
    color: red;
}

.vote-comment-btns {
    margin-right: 20px;
    text-align: right;
}

.comment_btn {
    margin-right: 120px;
}

.btnOnClick {
    padding: 10px 10px;
    background-color: #606060;
    border-radius: 8px;
    color: white;
    outline: none;
    border: 1px solid var(--color-2);
}

.btnOnClick:hover {
    background-color: var(--color-2);
}

.vote_btns {
    text-align: right;
}

.vote_btns form {
    display: inline-block;
}

.vote_btn {
    display: inline-block;
}

.post {
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: space-around;
}

.large-logo {
    text-align: center;
    margin-bottom: 20px;
}

.post h2 {
    text-align: center;
}

.post .post-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


/* Comment after like/dislike */

.comment-name {
    font-weight: bold;
}

.comment-date {
    font-size: small;
}

.comment-text {
    margin: 10px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.comment-form {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    background: #e7d2cc41;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.comments-list {
    background: #e7d2cc41;
    padding: 30px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}


/* Modify_account/Login/Forget_acc form */

.form-box h1 {
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 2px 2px 5px var(--color-1);
    text-transform: capitalize;
    margin-bottom: 20px;
}

.form-box {
    padding: 40px;
    position: relative;
    background-color: transparent;
    text-align: center;
    /* Take all the place in the page */
    z-index: 100;
}

select {
    text-align-last: center;
}

select,
.form-box input[type="text"],
.form-box input[type="password"],
.comment-form input[type="text"],
.comment-form input[type="date"],
textarea {
    width: 400px;
    border: 0;
    background: #606060;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid var(--color-2);
    padding: 12px 10px;
    outline: none;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    transition: 0.25s;
}

select:focus,
textarea:focus,
.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus,
.comment-form input[type="text"]:focus,
.comment-form input[type="date"]:focus {
    width: 450px;
    border-color: var(--color-1);
}

.form-box input[type="submit"],
.comment-form input[type="submit"] {
    border: 0;
    background: #606060;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--color-2);
    padding: 12px 40px;
    outline: none;
    color: white;
    border-radius: 8px;
    transition: 0.25s;
    cursor: pointer;
}

.form-box input[type="submit"]:hover,
.comment-form input[type="submit"]:hover {
    background: var(--color-2);
}


/* footer */

#footer {
    width: 100vw;
    position: relative;
    color: white;
    background: #012f33;
    left: 0;
    padding: 10px;
    text-align: center;
    /* How to keep footer at the bottom: give `margin-bottom: -50px` 
    to `#container` and here add 50px */
    height: 50px;
}

#footer ul {
    display: flex;
    justify-content: center;
}


/* Media Query: iPad (Vertical), starting from 768px */

@media(max-width: 768px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    .header .nav ul {
        margin: 10px;
    }
    .card-image {
        max-width: 200px;
        margin-top: 60px;
    }
    .card {
        grid-template-columns: 1fr 2fr;
    }
    .comment-form,
    .form-box {
        background-color: transparent;
        box-shadow: none;
        border: none;
        padding-top: 50px;
    }
    .alert-success {
        position: relative;
        top: 50%;
        left: 25%;
        width: 50%;
        padding: 10px 0;
        margin: 10px;
        background-color: green;
        border-radius: 26px;
        color: white;
        text-align: center;
    }
    .alert-danger {
        position: relative;
        top: 50%;
        left: 25%;
        width: 50%;
        padding: 10px 0;
        margin: 10px;
        background-color: red;
        border-radius: 26px;
        color: white;
        text-align: center;
    }
}


/* Small mobile: iPhone */

@media(max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    body {
        height: 100vh;
        width: 100vw;
        /* To keep lines/rows tight together */
        /* line-height: 15px; */
        font-size: 16px;
    }
    #middle-page {
        margin-bottom: 80px;
    }
    .nav-toggler {
        display: flex;
    }
    .header .nav {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: var(--color-1);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        opacity: 0;
        visibility: hidden;
    }
    .header .nav a {
        margin-left: 20px;
    }
    .header .nav ul li {
        display: block;
        margin: 0;
    }
    .header #nav-check:checked~.nav {
        opacity: 1;
        visibility: visible;
    }
    .header #nav-check:focus~.nav-toggler {
        box-shadow: 0 0 15px #000000;
    }
    .header #nav-check:checked~.nav-toggler span {
        background-color: transparent;
    }
    .header #nav-check:checked~.nav-toggler span::before {
        top: 0;
        transform: rotate(45deg);
    }
    .header #nav-check:checked~.nav-toggler span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    .card {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2.5fr;
        margin: 20px 30px;
    }
    .card-image {
        text-align: center;
        width: 80%;
        height: auto;
        margin-top: 10px;
        margin-left: -70px;
        padding-top: 10px;
    }
    .post .post-image {
        width: 400px;
        height: auto;
    }
    .username {
        margin-top: 10px;
        margin-left: -15px;
    }
    /* How to put username under the logo */
    .logo-user {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-left: 50px;
        padding: 15px;
    }
    .comment-form,
    .form-box {
        background-color: transparent;
        box-shadow: none;
        border: none;
        padding: 0;
        margin-bottom: 150px;
    }
    .comment-list {
        align-items: center;
        padding: 50px;
    }
    select,
    .form-box input[type="text"],
    .form-box input[type="password"],
    .comment-form input[type="text"],
    .comment-form input[type="date"],
    textarea {
        width: 200px;
    }
    select:focus,
    textarea:focus,
    .form-box input[type="text"]:focus,
    .form-box input[type="password"]:focus,
    .comment-form input[type="text"]:focus,
    .comment-form input[type="date"]:focus {
        width: 250px;
        border-color: var(--color-2);
    }
    .alert-danger {
        position: relative;
        top: 50%;
        left: 18%;
        width: 60%;
        padding: 10px 0;
        margin: 10px;
        background-color: red;
        border-radius: 26px;
        color: white;
        text-align: center;
    }
    .alert-success {
        position: relative;
        top: 50%;
        left: 18%;
        width: 60%;
        padding: 10px 0;
        margin: 10px;
        background-color: green;
        border-radius: 26px;
        color: white;
        text-align: center;
    }
}